

:root{
  --bg-color: #041c32;
  --heading-color: #EEEEEE;
  --btn-color: #064663;
  --second-color: #0b6cc5;
  --desc-color: #ffffff9e;
  --second-bg: #06466380;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poetsen One", sans-serif;
  background-color: var(--bg-color);
  color: var(--heading-color);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.container{
  margin-inline: auto;
  padding: 1rem;
}