

:root{
  --bg-color: #041c32;
  --heading-color: #EEEEEE;
  --btn-color: #064663;
  --second-color: #0b6cc5;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poetsen One", sans-serif;
  background-color: var(--bg-color);
}