

:root{
  --bg-color: #041c32;
  --heading-color: #EEEEEE;
  --button-color: #064663;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Original Surfer", sans-serif;
  background-color: var(--bg-color);
}